.about {
  position: relative;
  padding-top: 160px;
  padding-bottom: 118px;
  z-index: 2;
  background-color: #eae5da;

  &__wrapper-flex {
    display: flex;
  }
}
.sidebar {
  width: 448px;

  &__text {
    border: 1px solid #1f4a21;
    border-radius: 32px;
    width: 87px;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: flex;
    width: 87px;
    font-size: 14px;
    line-height: 120%;
    font-weight: 400;
    color: #1f4a21;
  }
}
.container-text-flex {
  display: flex;
  column-gap: 32px;
}

.about__container-right {
  width: 864px;
  &-title {
    color: #1f4a21;
    font-size: 72px;
    font-style: normal;
    line-height: 110%;
    font-weight: 600;
    margin-bottom: 32px;
    &-span {
      font-style: italic;
      font-weight: 600;
    }
  }
}

.about__button-right {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 140%;
  background-color: var(--color--fair_green);
  color: #1f4a21;
  border-radius: 29px;
  width: 256px;
  height: 54px;
  margin-top: 48px;

  &:hover,
  &:focus {
    color: var(--color_text-white);
    transform: scale(1.1);
  }
}

.about--text-1 {
  font-size: 18px;
  line-height: 130%;
  font-weight: 600;
}

.about--text-2 {
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
}

.about__number__list {
  display: grid;
  grid-template-columns: repeat(2, 304px);
  grid-template-rows: 184px;
  grid-auto-rows: 184px;
  row-gap: 80px;
  margin-top: 80px;
  column-gap: 144px;
}

.about__number__item {
  display: block;
  width: 304px;

  &-title {
    position: relative;
    margin-bottom: 8px;
    color: #1f4a21;
    font-size: 96px;
    font-weight: 400;
    font-style: italic;
  }
  &-text {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: #8c8c8c;
  }
}

.aft_1:after {
  content: '+';
  display: block;
  position: absolute;
  top: 0;
  right: 60px;
}

.aft_2:after {
  content: '%';
  display: block;
  position: absolute;
  top: 0;
  right: 62px;
}

.aft_3:after {
  content: 'K';
  display: block;
  position: absolute;
  top: 0;
  right: 158px;
}
