.footer {
  padding: 80px 64px 24px 64px;
  background-color: #eae5da;

  &__wrapper {
    padding-right: 336px;
    padding-bottom: 104px;
  }

  &__title {
    font-size: 72px;
    line-height: 110%;
    font-weight: 400;
    color: #1f4a21;
    font-style: italic;
    &-span {
      font-weight: 600;
      font-style: normal;
    }
  }

  &__button_list {
    margin-top: 40px;
    display: flex;
    column-gap: 16px;
  }
  &__button_item {
    padding: 16px 80px 16px 80px;
    border: 1px solid #1f4a21;
    display: block;
    border-radius: 29px;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: var(--color--fair_green);
      border: none;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__button_link {
    display: block;
    font-size: 16px;
    color: #1f4a21;
    line-height: 140%;
    font-weight: 500;
  }
}
.footer__social-wrapper {
  display: flex;
}
.social__list-right {
  margin-left: auto;
}
.footer__social__list {
  display: flex;
  column-gap: 24px;
}
.footer__social_item {
  font-size: 16px;
  font-weight: 400;
  color: #70886b;
  &:hover .footer__social_link {
    color: var(--color--fair_green);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer__social_link {
  font-size: 16px;
  font-weight: 400;
  color: #70886b;
  padding: 4px;
}
