.header {
  background-color: var(--color--dark-green);
  padding-top: 24px;
}

.header__wrapper {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    text-align: center;
    gap: 48px;
  }
  &__item {
    &__link {
      color: var(--color_text-white);
      padding: 4px;
    }
  }

  &__button_link {
    text-decoration: none;
    border: 1px solid #fff;
    color: var(--color_text-white);
    padding: 16px 32px 16px 32px;
    border-radius: 61px;
  }
}
