.main {
  padding: 64px 0 118px 0;

  &__title {
    display: block;
    width: 841px;
    font-size: 96px;
    line-height: 100%;
    font-weight: 500;
    font-style: italic;

    color: var(--color--fair_green);

    &-span {
      color: var(--color_text-white);
      font-style: italic;
      font-weight: 600;
    }
  }
}
.wrapper-main {
  display: flex;
}
.container__text-right {
  padding-top: 113px;
  padding-left: 400px;
}
.text_about-right {
  display: block;
  margin-bottom: 32px;
  font-size: 16px;
  width: 304px;
  color: var(--color-text-dark-green);
}

.main__button-faire {
  font-size: 16px;
  line-height: 140%;
  background-color: var(--color--fair_green);
  color: #1f4a21;
  margin-top: 32px;
  border-radius: 29px;
  display: flex;
  width: 256px;
  padding: 16px 0;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    color: #fff;
    transform: scale(1.1);
  }
}

.main__img {
  width: 1376px;
  margin-top: 80px;
}
