.header {
  @media screen and (max-width: 767px) {
    padding: 34px 0;
  }
}
.header__wrapper {
  @media screen and (max-width: 767px) {
    display: block;
  }
}
.nav {
  @media screen and (max-width: 767px) {
    margin-left: 0;
    display: none;
  }
}

.nav__list {
  @media screen and (max-width: 767px) {
    display: block;
    font-size: 40px;
    font-weight: 400;
    font-style: italic;
    &__item {
      @media screen and (max-width: 767px) {
        margin-top: 40px;
      }
    }
  }
}
.nav__span-button {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 12px;
    right: 0;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav__button_link {
  @media screen and (max-width: 767px) {
  }
}

.wrapper-main {
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.main__title {
  @media screen and (max-width: 767px) {
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    width: 321px;
    margin-bottom: 32px;
  }
}

.container__text-right {
  @media screen and (max-width: 767px) {
    padding-top: 0;
    padding-left: 0;
  }
}

.container__text-right {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.text_about-right {
  font-size: 14px;
  line-height: 150%;
  color: #d2dbd3;
  max-width: 312px;
}

.main__button-faire {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.main__img {
  @media screen and (max-width: 767px) {
    max-width: 312px;
    width: 100%;
    margin-top: 64px;
  }
}

.workers {
  @media screen and (max-width: 767px) {
    padding-top: 134px;
  }

  &__title {
    @media screen and (max-width: 767px) {
      position: relative;
      font-size: 32px;
      font-style: normal;
      line-height: 110%;
      font-weight: 300;
      width: 312px;
    }
  }

  &__link {
    @media screen and (max-width: 767px) {
      position: absolute;
      top: 80px;
      left: 0;
      width: 100px;
      padding: 8px 16px;
      line-height: 120%;

      font-size: 12px;
    }
  }
  &__text {
    @media screen and (max-width: 767px) {
      font-size: 18px;
      line-height: 140%;
      font-weight: 400;
      padding: 0;
    }
    &::first-letter {
      padding: 0;
    }
  }
}

.lead {
  @media screen and (max-width: 767px) {
    padding-top: 64px;
    padding-bottom: 80px;
  }

  &__list {
    @media screen and (max-width: 767px) {
      display: block;
    }
  }
  &__item {
    margin-top: 20px;
    display: block;
  }
}

.about {
  @media screen and (max-width: 767px) {
    padding-top: 80px;
  }

  &__wrapper-flex {
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__container-right {
    @media screen and (max-width: 767px) {
      width: 100%;
      margin-top: 20px;
    }
  }
  &--text-1 {
    @media screen and (max-width: 767px) {
      font-size: 16px;
      line-height: 130%;
      margin-bottom: 16px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  &--text-2 {
    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 150%;
      font-weight: 400;
    }
  }
  &__button-right {
    @media screen and (max-width: 767px) {
      width: 100%;
      margin-top: 32px;
      font-style: normal;
      line-height: 140%;
    }
  }
  &__number__list {
    @media screen and (max-width: 767px) {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
    }
  }

  &__number__item {
    @media screen and (max-width: 767px) {
    }
    &-title {
      @media screen and (max-width: 767px) {
        margin-bottom: 12px;
        font-size: 40px;
        font-weight: 400;
        font-style: italic;
      }
    }
  }
}
.about__container-right-title {
  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 110%;
    font-style: italic;
    font-weight: 400;
    width: 100%;
  }

  &-span {
    @media screen and (max-width: 767px) {
      font-size: 40px;
      line-height: 110%;
      font-style: bold;
      font-weight: 600;
      width: 100%;
    }
  }
}
.container-text-flex {
  @media screen and (max-width: 767px) {
    display: block;
  }
}
