<section class="about">
 <div class="container">
  <div class="about__wrapper-flex">
   <div class="sidebar">
    <a class="sidebar__link" href="#">
     <p class="sidebar__text">Om oss</p>
    </a>
   </div>
   <div class="about__container-right">
    <h2 class="about__container-right-title">
     Lorem ipsum dolor sit <span class="about__container-right-title-span">amet consectetur</span>
    </h2>
    <div class="container-text-flex">
     <p class="about--text-1">
      Lorem ipsum dolor sit amet consectetur. Tortor a turpis at pharetra. Id nunc commodo morbi sapien diam enim. Lorem
      ipsum
      dolor sit amet consectetur.
     </p>
     <p class="about--text-2">
      Facilisis nunc est enim diam nibh tellus nisl enim. Sed ultrices et morbi at. Odio quam vulputate tortor tellus.
      Scelerisque ullamcorper diam aliquam lorem.
     </p>
    </div>
    <a class="about__button-right" href="https://www.baneservice.no/karriere" alt="Fyll hjelmen">Fyll hjelmen</a>
    <ul class="about__number__list">
     <li class="about__number__item">
      <h3 data-digits-counter class="about__number__item-title aft_1">400</h3>
      <p class="about__number__item-text">Lorem ipsum dolor sit amet consectetur. Facilisis nunc est enim diam nibh
       tellus nisl enim.</p>
     </li>
     <li class="about__number__item">
      <h3 data-digits-counter class="about__number__item-title aft_2">600</h3>
      <p class="about__number__item-text">Lorem ipsum dolor sit amet consectetur. Facilisis nunc est enim diam nibh
       tellus nisl enim.</p>
     </li>
     <li class="about__number__item">
      <h3 data-digits-counter class="about__number__item-title aft_3">10</h3>
      <p class="about__number__item-text">Lorem ipsum dolor sit amet consectetur. Facilisis nunc est enim diam nibh
       tellus nisl enim.</p>
     </li>
    </ul>
   </div>
  </div>
 </div>
</section>