<section class="footer">
 <div class="container">
  <div class="footer__wrapper">
   <h2 class="footer__title" data-aos="fade-right">
    Cras nibh sollicitudin elit <span class="footer__title-span">varius facilisi arcu feugiat amet in</span>
   </h2>
   <ul class="footer__button_list" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <li class="footer__button_item ">
     <a class="footer__button_link" href="#">Fyll hjelmen</a>
    </li>
    <li class="footer__button_item">
     <a class="footer__button_link" href="mailto:support@baneservice.cm" target="_blank">support@baneservice.cm</a>
    </li>
   </ul>
  </div>
  <div class="footer__social-wrapper">
   <ul class="footer__social__list">
    <li class="footer__social_item"><a class="footer__social_link" href="">post@baneservice.no</a></li>
    <li class="footer__social_item"><a class="footer__social_link" href="tel:+47 916 56 700" target="_blank">+47 916 56
      700</a></li>
    <li class="footer__social_item"><a class="footer__social_link" href="https://www.linkedin.com/" target="_blank"
      target="_blank">LinkedIn</a></li>
    <li class="footer__social_item"><a class="footer__social_link" href="https://www.facebook.com/"
      target="_blank">Facebook</a></li>
    <li class="footer__social_item"><a class="footer__social_link" href="https://www.instagram.com/"
      target="_blank">Instagram</a></li>
   </ul>
   <ul class="footer__social__list social__list-right">
    <li class="footer__social_item">© 2023 Baneservice. All rights reserved.</li>
    <li class="footer__social_item">Personuppgiftspolicy & Kakor</li>
   </ul>
  </div>
 </div>
</section>