<section class="header" id="header">
 <div class="container">
  <div class="header__wrapper">
   <a href="#"><svg width="192" height="32">
     <use href="./images/sprite.svg#logo"></use>
    </svg></a>
   <nav class="nav">
    <ul class="nav__list">
     <li class="nav__item"><a class="nav__item__link" href="#">stilling</a></li>
     <li class="nav__item"><a class="nav__item__link" href="#">Om oss</a></li>
     <li class="nav__item"><a class="nav__item__link" href="#">Benefits</a></li>
     <li class="nav__item"><a class="nav__item__link" href="#">Testimonial</a></li>
    </ul>
    <a class="nav__button_link" href="#">Fyll hjelmen</a>
   </nav>

  </div>
 </div>

 </div>
</section>