<header class="header">

 <div class="container">
  <div class="header__wrapper" data-aos="flip-down">
   <a class="logo" href="./index.html"><svg width="192" height="32" alt="logo">
     <use href="./images/sprite.svg#logo"></use>
    </svg></a>
   <nav class="nav display-nan " data-aos="zoom-in">
    <ul class="nav__list ">
     <li class="nav__item"><a class="nav__item__link" href="https://www.baneservice.no/produkter-tjenester"
       alt="stilling">stilling</a>
     </li>
     <li class="nav__item"><a class="nav__item__link" href="https://www.baneservice.no/om-oss" alt="Om oss">Om oss</a>
     </li>
     <li class="nav__item"><a class="nav__item__link" href="https://www.baneservice.no/baerekraft"
       alt="Benefits">Benefits</a></li>
     <li class="nav__item"><a class="nav__item__link" href="https://www.baneservice.no/produkter-tjenester"
       alt="Testimonial">Testimonial</a></li>
    </ul>
   </nav>
   <a class="nav__button_link" href="https://www.baneservice.no/karriere" alt="Fyll hjelmen">Fyll hjelmen</a>
   <span class="nav__span-button">

   </span>
   <svg class="svg--close display-nan" width="18" height="18">
    <use href="./images/sprite.svg#icon-cross"></use>
   </svg>
  </div>
  <main class="main">
   <div class="wrapper-main">
    <h1 class="main__title">Fyll hjelmen <span class="main__title-span">med dine
      ferdigheter!</span></h1>
    <div class="container__text-right">
     <p class="text_about-right">Hos oss i Baneservice finnes det mange muligheter, både for deg som akkurat er ferdig
      med
      utdannelsen, og for deg
      med
      lang erfaring.</p>
     <a class="main__button-faire" href="https://www.baneservice.no/karriere" alt="Fyll hjelmen">Fyll hjelmen</a>
    </div>
   </div>
   <div class="main__img-container">
    <a href="https://youtu.be/sheB2TqaSOE?si=S6fdYDCRv0klxlkp" target="_blank">
     <picture class="main__img">
      <source media="(max:width:767px)" srcset="./images/main/main_mobile.jpg">
      <img class="main__img" src='./images/main/main_1.jpg' alt="main_video" loading="lazy"
       src="./images/main/main_1.jpg">
     </picture>
     <div class="arrow">
      <svg class="arrow__svg" width="21" height="24">
       <use href="./images/sprite.svg#icon-Vector"></use>
      </svg>
     </div>
    </a>
   </div>
   <section class="workers" data-aos="flip-up">
    <h3 class="workers__title">
     Våre <span class="workers__title-span">medarbeidere</span> er mer enn bare dyktig fagfolk.
    </h3>
    <p class="workers__text">For at vi skal bygge fremtidens jernbane trenger vi våre medarbeidere sine ferdigheter og
     egenskaper, derfor er
     vi
     lidenskapelig opptatt av hva som befinner seg under din hjelm. om du liker fotball eller klatring, om du er
     kreativ
     eller løsningsorientert, er dette ting vi verdsetter.</p>
    <a class="workers__link" href="#">
     Vacancies
    </a>
   </section>
   <section class="lead">
    <div class="lead__wrapper">
     <ul class="lead__list">
      <li class="lead__item" data-aos="flip-up">
       <h2 class=" lead__item-text">
        Prosjektleder
       </h2>
       <p class="lead__special">Fagarbeider</p>
       <picture class=" lead__img">
        <source media="(max-width: 767px)" srcset="./images/lead/lead_1@2x.jpg" loading="lazy" alt="img_lead_1"
         type="image" />
        <source srcset="./images/lead/lead_1.jpg" media="(min-width: 768px)" loading="lazy" alt="img_lead_1" />
        <img src="./images/lead/lead_1@2x.jpg" alt="img_lead_1" />

       </picture>
       <img class=" lead__img" srcset="./images/lead/lead_1.jpg 1x, ./images/lead/lead_1@2x.jpg 2x"
        src="./images/lead/lead_1.jpg" alt="img_lead_1" loading="lazy">
       <div class="wrapper_button_helmet">
        <p class="text__helmet">FYLL HJELMEN</p>
        <button class="button__helmet"><svg width="12" height="12">
          <use href="./images/sprite.svg#arrow-up-right"></use>
         </svg></button>
       </div>
      </li>
      <li class="lead__item" data-aos="flip-right">
       <h2 class="lead__item-text">
        Energimontør
       </h2>
       <p class="lead__special">Energimontør</p>
       <picture class=" lead__img">
        <source media="(max-width: 767px)" srcset="./images/lead/lead_2@2x.jpg" loading="lazy" alt="img_lead_2"
         type="image" />
        <source media="(max-width: 767px)" srcset="./images/lead/lead_2@2x.jpg" loading="lazy" alt="img_lead_2"
         type="image" />
        <source srcset="./images/lead/lead_2.jpg" media="(min-width: 768px)" loading="lazy" alt="img_lead_2" />
        <img src="./images/lead/lead_2@2x.jpg" alt="img_lead_1" />

       </picture>
       <div class="wrapper_button_helmet">
        <p class="text__helmet">FYLL HJELMEN</p>
        <button class="button__helmet"><svg width="12" height="12">
          <use href="./images/sprite.svg#arrow-up-right"></use>
         </svg></button>
       </div>
      </li>

      <li class="lead__item" data-aos="flip-left">
       <h2 class="lead__item-text">
        Banemontør
       </h2>
       <p class="lead__special">Banemontør</p>
       <picture class=" lead__img">
        <source media="(max-width: 767px)" srcset="./images/lead/lead_3@2x.jpg" loading="lazy" alt="img_lead_3"
         type="image" />
        <source srcset="./images/lead/lead_3.jpg" media="(min-width: 768px)" loading="lazy" alt="img_lead_3" />
        <img src="./images/lead/lead_3@2x.jpg" alt="img_lead_1" />

       </picture>
       <div class="wrapper_button_helmet">
        <p class="text__helmet">FYLL HJELMEN</p>
        <button class="button__helmet"><svg width="12" height="12">
          <use href="./images/sprite.svg#arrow-up-right"></use>
         </svg></button>
       </div>
      </li>
      <li class="lead__item" data-aos="flip-right">
       <h2 class="lead__item-text">
        Signalmontør
       </h2>
       <p class="lead__special">Signalmontør</p>
       <picture class=" lead__img">
        <source media="(max-width: 767px)" srcset="./images/lead/lead_4@2x.jpg" loading="lazy" alt="img_lead_4"
         type="image" />
        <source srcset="./images/lead/lead_1.jpg" media="(min-width: 768px)" loading="lazy" alt="img_lead_4" />
        <img src="./images/lead/lead_4@2x.jpg" alt="img_lead_4" />
       </picture>
       <div class="wrapper_button_helmet">
        <p class="text__helmet">FYLL HJELMEN</p>
        <button class="button__helmet"><svg width="12" height="12">
          <use href="./images/sprite.svg#arrow-up-right"></use>
         </svg></button>
       </div>
      </li>
      <li class="lead__item" data-aos="flip-left">
       <h2 class="lead__item-text">
        Lokmotivfører
       </h2>
       <p class="lead__special">Fører</p>
       <picture class=" lead__img">
        <source media="(max-width: 767px)" srcset="./images/lead/lead_5@2x.jpg" loading="lazy" alt="img_lead_5"
         type="image" />
        <source srcset="./images/lead/lead_5.jpg" media="(min-width: 768px)" loading="lazy" alt="img_lead_5" />
        <img src="./images/lead/lead_5@2x.jpg" alt="img_lead_1" />
       </picture>
       <div class="wrapper_button_helmet">
        <p class="text__helmet">FYLL HJELMEN</p>
        <button class="button__helmet"><svg width="12" height="12">
          <use href="./images/sprite.svg#arrow-up-right"></use>
         </svg></button>
       </div>
      </li>
      <li class="lead__item" data-aos="flip-right">
       <h2 class="lead__item-text">
        Fagarbeider
       </h2>
       <p class="lead__special">Energimontør</p>
       <picture class=" lead__img">
        <source media="(max-width: 767px)" srcset="./images/lead/lead_1@2x.jpg" loading="lazy" alt="img_lead_1"
         type="image" />
        <source srcset="./images/lead/lead_1.jpg" media="(min-width: 768px)" loading="lazy" alt="img_lead_1" />
        <img src="./images/lead/lead_1@2x.jpg" alt="img_lead_1" />
       </picture>
       <div class="wrapper_button_helmet">
        <p class="text__helmet">FYLL HJELMEN</p>
        <button class="button__helmet"><svg width="12" height="12">
          <use href="./images/sprite.svg#arrow-up-right"></use>
         </svg></button>
       </div>
      </li>
     </ul>
    </div>
   </section>
  </main>


 </div>
</header>