<header class="header">
 <header class="container">
  <div class="header__wrapper" data-aos="flip-down">
   <a class="logo" href="./index.html"><svg width="192" height="32" aria-label="company logo">
     <use href="./images/sprite.svg#logo"></use>
    </svg></a>
   <nav class="nav display-nan " data-aos="zoom-in">
    <ul class="nav__list ">
     <li class="nav__item"><a class="nav__item__link" href="https://www.baneservice.no/produkter-tjenester"
       alt="stilling">stilling</a>
     </li>
     <li class="nav__item"><a class="nav__item__link" href="https://www.baneservice.no/om-oss" alt="Om oss">Om oss</a>
     </li>
     <li class="nav__item"><a class="nav__item__link" href="https://www.baneservice.no/baerekraft"
       alt="Benefits">Benefits</a></li>
     <li class="nav__item"><a class="nav__item__link" href="https://www.baneservice.no/produkter-tjenester"
       alt="Testimonial">Testimonial</a></li>
    </ul>
   </nav>
   <a class="nav__button_link" href="https://www.baneservice.no/karriere" aria-label="Fyll hjelmen" target="_blank">Fyll
    hjelmen</a>
   <span class="nav__span-button">

   </span>
   <svg class="svg--close display-nan" width="18" height="18">
    <use href="./images/sprite.svg#icon-cross"></use>
   </svg>
  </div>
 </header>